@font-face {
  font-family: "iconfont2"; /* Project id 2648363 */
  src: url('iconfont.woff2?t=1625219744253') format('woff2'),
       url('iconfont.woff?t=1625219744253') format('woff'),
       url('iconfont.ttf?t=1625219744253') format('truetype');
}

.iconfont2 {
  font-family: "iconfont2" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e8c4";
}

