.DS_Store
node_modules
dist
build
package-lock.json
yarn.lock

t.md
scripts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.log
*.jar
*.zip
.factorypath
logs/
.settings/
target/
