
$primaryColor: #59A6F3;
$gradientColor: linear-gradient(90deg, #1EC0D7 0%, #3794F1 100%);
$gradientColor1: linear-gradient(90deg, #59A6F3 0%, #39589d 100%);
$secondPrimaryColor: #dbe9f7;

$redColor: #ee0a24;
$blueColor: #7381FF;
$grayColor: #999;
$greenColor: #00c657;

$border: 1px solid #dcdfe6;
$borderRadius: 8px;

$tabTitleWidth: 90px;
$headerHeight: 112px;



