<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fingerchar.db.dao.ext.FcNftLikeExtMapper">
    <select id="listByMulti" resultType="com.fingerchar.db.domain.FcNftLike">
        select *
        from fc_nft_like
        where user_address=#{userAddress} and (address, token_id) in
        <foreach item='item' index='index' collection='params' open='(' separator=',' close=')'>(#{item.address},
            #{item.tokenId})
        </foreach>
    </select>
</mapper>