@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './config.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.p-10{
  padding: 10px !important;
}

.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.w-200 {
  width: 200px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.cblue{
  color: #1890ff !important;
}

.cgreen{
  color: $green !important;
}
.cred{
  color: $red !important;
}

.bfont{
  font-weight: bold !important;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}
.error-tip{
  color: $red;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

.operator-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.flex-box {
  display: flex;
}

.flex{
  display: flex !important;
}

.flex1{
  flex:1 !important;
}

.align-center{
  align-items: center !important;
}

.justify-center{
  justify-content: center !important;
}

.m-top-10{
  margin-top: 10px !important;
}
.m-top-20{
  margin-top: 20px !important;
}


// 列表页面
.app-container {
  .app-card {
    // 搜索
    .search-bg {
      margin-bottom: 10px;
      .search-form {
        @include flex-row();
        justify-content: flex-start;
        flex-wrap: wrap;
        .item {
          width: 25%;
          padding-right: 20px;
          // 初始化一些样式
          .el-select,
          .el-input__inner {
            width: 100%;
          }
          // 向下1像素，保持一条线
          .el-select {
            margin-top: 1px;
          }
          &.btns {
            padding-top: 1px;
            margin-bottom: 15px !important;
            @include flex-row();
            justify-content: flex-start;
            .badge {
              margin-left: 10px;
            }
          }
        }
      }
    }
    // 列表
    .table-bg {
      .el-table .cell{
        @include ddd();
        .el-tooltip {
          @include ddd();
        }
      }
      .el-table__row {
        .number {
          color: #409EFF;
        }
      }
      .btns {
        @include flex-row()
      }
    }
    // 列表分页
    .el-pagination {
      margin-top: 15px;
    }
    // ending...
  }
  // 列表展开行
  .table-expand {
    text-align: left;
    & {
      label{
        width: 90px;
        color: #99a9bf !important;
      }
      .el-form-item {
          margin-right: 0;
          margin-bottom: 0;
          width: 100%;
        }
    }
  }
}

// 重制一些el 样式
.el-table td,
.el-table th {
  text-align: center;
}

// 重置dialog
.el-dialog__body {
  padding: 15px 20px 20px;
}

.hide {
  display: none!important;
}

.media-dialog {
  & .el-dialog{
    background: none !important;
  }
  & .el-dialog__body{
    padding: 0 !important;
  }
  & .el-dialog__header{
    display: none !important;
  }
}

// echarts
.myChart {
  width: 100%;
  height: 300px;
  border: 1px solid #c8c8c8;
}
