// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
/*
$menuBg: #074CCC;
$menuActiveText: #074CCC;
$menuHoverText: #074CCC;
$subMenuActiveText: #074CCC; // https://github.com/ElemeFE/element/issues/12951
$subMenuBg: #074CCC;

$menuActiveBg: #fff;
$menuText:#fff;
$menuHover: #fff;
$subMenuHover: #fff;
*/
$menuBg: #FFFFFF;
$subMenuBg: #FFFFFF;
$menuHover: #E7F0FF;
$menuActiveBg: #E7F0FF;
$subMenuHover: #E7F0FF;

$menuActiveText: #007AFF;
$menuHoverText: #007AFF;
$subMenuActiveText: #007AFF; // https://github.com/ElemeFE/element/issues/12951

$menuText:#707070;


$sideBarWidth: 255px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}


@mixin flex-row($justify: center) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: $justify;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin ddd {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

@mixin ddds($clamp: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  white-space: initial;
}
